<html>
    <head>
        <link href="styles/mystyles.css" rel="stylesheet" />
    </head>
    <body>
        <h3>Welcome To The Home Page</h3>        
        <hr/>
        <img  src="images/image1.jpg"  />
        <hr/>
        <nav>
            <ul>
              <li><a href="/products">Products</a></li>
            </ul>
          </nav> |   
    </body>
</html>

